{% extends "base.html" %}

{% block content %}

{% if navbar %}
{% include "layouts/partials/navbar-main.html" %}
{% endif %}

<main class="bg-gray-50 dark:bg-gray-900">
    {% if page_slug == "404" %}
        {% include "content/pages/404.html" %}
    {% elif page_slug == "500" %}
        {% include "content/pages/500.html" %}
    {% elif page_slug == "maintenance" %}
        {% include "content/pages/maintenance.html" %}
    {% elif page_slug == "pricing" %}
        {% include "content/pages/pricing.html" %}
    {% elif page_slug == "forgot_password" %}
        {% include "content/authentication/forgot-password.html" %}
    {% elif page_slug == "sign_in" %}
        {% include "users/sign-in.html" %}
    {% elif page_slug == "sign_up" %}
        {% include "content/authentication/sign-up.html" %}
    {% elif page_slug == "reset_password" %}
        {% include "content/authentication/reset-password.html" %}
    {% elif page_slug == "profile_lock" %}
        {% include "content/authentication/profile-lock.html" %}
    {% endif %}
</main>

{% if footer %}
{% include "layouts/partials/footer-main.html" %}
{% endif %}

{% endblock content %}